doctype html
html(lang="en")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/src/layout/css/main.scss")
    link(rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico")
    title
      block title
        |  &mdash; #{site.title}
    block head
  body(a="auto")
    header.profile
      a.profile-image(href="/")
        img(src="/static/images/logo.png" alt="Logo")

      h1
        a(href="/") #{site.title}
      h2 #{site.description}
      .links
        .nav
          span Nav:
          each link in site.nav
             a(href=link.url)= link.name
        if site.webring
        .webring
          span Webring:
          a(href=site.webring.previous) Previous
          a(href=site.webring.index) Index
          a(href=site.webring.next) Next
        a(href="mailto:"+site.profile.email)= site.profile.email
        each link in site.profile.social
          a(href=link.url)= link.name

    main.page-content
      block main
    block scripts
